[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IOHanalyzer"]
	path = IOHanalyzer
	url = https://github.com/iohprofiler/iohanalyzer
